@model Tarea2.Models.Mascota

<h2>Registrar Mascota</h2>

<form asp-action="Crear" method="post">
    <div>
        <label>Nombre:</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div>
        <label>Especie:</label>
        <input asp-for="Especie" class="form-control" />
    </div>
    <div>
        <label>Edad:</label>
        <input asp-for="Edad" type="number" class="form-control" />
    </div>
    <div>
        <label>Nombre del Dueño:</label>
        <input asp-for="NombreDueno" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
