@model List<Tarea2.Models.Mascota>

<h2>Lista de Mascotas Registradas</h2>
<a href="/Mascota/Crear">Registrar Nueva Mascota</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Edad</th>
            <th>Dueño</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Nombre</td>
                <td>@m.Especie</td>
                <td>@m.Edad</td>
                <td>@m.NombreDueno</td>
            </tr>
        }
    </tbody>
</table>
